<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</head>
<body>
    <style>
        .center{
            text-align:center;
            width: 100%;
        }
    </style>
   
          <table border="1" class="table" id="tablaprueba">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
      
          
            <button type="button" id="agregarBtn" onclick="agregarFila()">Agregar Fila</button>
            <button type="button" id="eliminarBtn" onclick="eliminarFila()">Eliminar Fila</button>
          
        
        <button id="btnsend">Send Request</button>
    </div>
    
    
</body>
</html>